<li class="coment-food">
  <div id="comment-food">
    <div>
<<<<<<< HEAD
      <%= gravatar_for comment_food.user, 30 %>&nbsp;<%= comment_food.user.name %>
=======
      <%= gravatar_for comment_food.user, 30 %>&nbsp;<%= link_to comment_food.user.name, comment_food.user %>
>>>>>>> ca7521a2a1d1ced656122f05dd0eb7cd421d9b8e
    </div>
    <hr>
    <div>
      <%= comment_food.content %>
    </div>
  </div>
<<<<<<< HEAD
</li>
=======
</li>
>>>>>>> ca7521a2a1d1ced656122f05dd0eb7cd421d9b8e
